body {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(background.jpg);
    background-size: cover;
    background-position: center;
    
    }
    
    .container {
        width: 80%;
        margin: 20px auto;
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    
    #searchInput {
        width: 50%;
        padding: 8px;
        margin-bottom: 15px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .users-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
    
    .user-box {
        background: #fff;
        padding: 10px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
        width: 200px;
        text-align: center;
    }
    
    .user-box img {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        object-fit: cover;
    }
    
    .user-id {
        font-weight: bold;
        color: #007bff;
    }
    a {
        display: block; 
        text-align: center;
        margin-top: 20px; 
        color: #0066ff; 
        text-decoration: none; 
    }
    
    a:hover {
        color: #3fffff; 
        text-decoration:underline; 
    }